<!DOCTYPE html>
<html lang="en">
<head>
  Job Portal
</head>
<body>
    <div>
        <h2 class="P1">Login</h2>
        <form onsubmit="">
            <div class="P1">
            <label>UserName :</label>
            <input type="text" name="uname" placeholder="Enter Username" required>
            </div>
            <div class="P1">
                <label>Password :</label>
                <input type="text" name="upass" placeholder="Enter Password" required>
            </div>
            <div class="P1">
            <input type="submit" value="Submit" >
            </div>
        </form>
    </div>
        <div class="P2">
            <h1>Register</h1>

        </div>
       <div class="P2">
        <input type="button"  value="Register" >
       </div> 

       <div>
        <h2>Employer</h2>
        <form>
            <div>
             <label>Name</label>
             <input type="text" name="name" required>


            </div>
            <div>
                <label>Email</label>
                <input type="email" name="Email" >
            </div>
            <div>
                <label>Number</label>
                <input type="number" name="number" >
            </div>

            <div>
                <label>Job Opening</label>
                <input type="text" name="job">

            </div>
            <br/>

            <h2>Candidate</h2>
            <div>
            <label>Name</label>
            <input type="text" name="name" required>
            </div>
            <div>
            <label>Email</label>
            <input type="email" name="email" required>
            </div>
            <div>
            <label>Number</label>
            <input type="number" name="number" required>
             </div>


        </form>

       </div>
       
        

        
       



</body>
</html>
